@charset "UTF-8";

body{
    position: relative;
    background-image: url('img/cropped-UEFA-Champions-League-Stadium-Wallpaper.jpg');
    background-repeat:no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    min-width: 475px;
}

#imagem{
    text-align: center;
}
main{
    width: fit-content;
    margin: auto;
    min-width: 635px;
    max-width: 900px;
}
h1{
    font-size: 2.5em;
    color: white;
    text-align: center;
    text-shadow: -3px 3px 3px black;
}
h2{
    color: white;
    text-align: center;
}
section{
    text-align: center;
    color: white;
    font-size: 1.5em;
    text-align: justify;
    text-indent: 25px;
    text-align: center;
    
}

#divsec{
    padding-top: 15px;
    text-align: center;
    
}
#a2 > #divsec{
    display: none;
}
#a2:hover > #divsec{
    display: block;
}
ul{
    list-style-type:none; 
    columns: 2;
    text-align: justify;
}
p{
    color: white;
    font-size: 1.5em;
    text-align: justify;
    text-indent: 25px;
    
}
.bloco{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 3px 40px silver;
    margin: 65px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.616);
}
a{
    text-decoration:none;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    transition-duration: 0.5s;
}

#link:hover > a{
    color: rgba(0, 255, 255, 0.61);
    background-color: #0f1a14cb;
    border-radius: 5px;
}
#champion{
    text-align: center;
    background-image: url(img/uefa-champions-league-star-football-logo-8dv90jbvwwhzp9c0.jpg);
   border-radius: 15px;
}
article > p{
    display: none;
}
article:hover > p{
    display: block;
    text-align: center
}
